{%extends '../base.html' %}
{% block title %}Componentes{% endblock title %}
{% block content %}

<div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
         <div class="card">
            <form action="/registrarComponente/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="referencia" name="referencia" class="form-control" placeholder="Referencia del componente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del componente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="marca" name="marca" class="form-control" placeholder="Marca del componente" required>
                </div> <br>
                <div class="input-group" >
                    <button type="submit" class="btn btn-success btn-block text-white">
                        Guardar
                    </button>
                </div>
            </form>

         </div>

     </div>
     <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" >
         <div class="table-responsive py-2">
             <h2>Listado de componentes</h2>
             <table class="table table-striped">
                 <thead>
                     <tr>
                         <th>Referencia</th>
                         <th>Nombre</th>
                         <th>Marca</th>
                         <th  colspan="2" char="center" >Opciones</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for co in componentes  %}
                     <tr>
                        <td > {{ co.referencia}}</td>
                        <td> {{ co.nombre }}</td>
                        <td> {{ co.marca }}</td>
                        <td><a href="ediccionComponente/{{co.referencia}}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarComponente/{{co.referencia}}" class="btn btn-danger">Borrar</a></td>
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>

         </div>


     </div>



</div>

{%endblock content%}