{%extends '../base.html' %}
{% block title %}Productos{% endblock title %}
{% block content %}

<div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
         <div class="card">
            <form action="/registrarProducto/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="referencia" name="referencia" class="form-control" placeholder="Referencia del componente" required>
                </div> <br><br>
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del componente" required>
                </div> <br><br>
                <div class="input-group">
                    <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio del componente" required>
                </div> <br><br>
                <textarea name="descripcion" id="descripcion" placeholder="Precio del componente" rows="5" cols="50">
                </textarea><br><br>
                <div class="input-group" >
                 <label for="">Elige una categoria</label> <br><br>
                    <select name="categorias" id="categorias">
                        <option selected>
                            -----
                        </option>
                        {% for c in categorias  %}
                        <option value="{{c.id}}">
                            {{c.nombre}}
                        </option>
                        {% endfor %} 
                    </select>
                </div>
                {% for ci in componentes %}
                <div class="form-check">
                    <input class="form-check-input" name="componentes" type="checkbox" value="{{ci.referencia}}" id="{{ci.referencia}}">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{ci.nombre}}
                    </label>
                </div>
                {% endfor %}
                <div class="input-group" >
                    <button type="submit" class="btn btn-success btn-block text-white">
                        Guardar
                    </button>
                </div>
            </form>

         </div>

     </div>
     <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" >
         <div class="table-responsive py-2">
             <h2>Listado de productos</h2>
             <table class="table table-striped">
                 <thead>
                     <tr>
                         <th>Referencia</th>
                         <th>Nombre</th>
                         <th>Precio</th>
                         <th>Categoria</th>
                         <th>Componentes</th>
                         <th  colspan="2" char="center" >Opciones</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for pro in productos  %}
                     <tr>
                        <td > {{ pro.referencia}}</td>
                        <td> {{ pro.nombre }}</td>
                        <td> {{ pro.precio }}</td>
                        <td> {{ pro.categoria.nombre }}</td>
                        <td> <ul> {% for comp in pro.componentes.all %}
                               <li>{{comp.nombre}}</li> 
                             {% endfor %}</ul></td>
                        <td><a href="ediccionProducto/{{pro.referencia}}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarProducto/{{pro.referencia}}" class="btn btn-danger">Borrar</a></td>
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>

         </div>


     </div>



</div>

{%endblock content%}