{% extends '../base.html' %}
{% block title %}Edición de cliente{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Edición de cliente</h1>
        <div class="card">
            <form action="/editarCliente/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="cif" name="cif" class="form-control" value="{{cliente.cif}}" readonly required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" value="{{cliente.nombre}}"  placeholder="Nombre del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="direccion" name="direccion" class="form-control" value="{{cliente.direccion}}"  placeholder="Direccion del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="ciudad" name="ciudad" class="form-control" value="{{cliente.ciudad}}"  placeholder="Ciudad del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="number" id="telefono" name="telefono" class="form-control" value="{{cliente.telefono}}"  placeholder="Telefono del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="email" id="Correo" name="correo" class="form-control" value="{{cliente.correo}}"  placeholder="Correo del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="number" id="cp" name="cp" class="form-control" value="{{cliente.cp}}"  placeholder="Coódigo postal del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="provincia" name="provincia" class="form-control" value="{{cliente.provincia}}"  placeholder="Provincia del cliente" required>
                </div> <br>
                
                <div class="input-group" >
                    <button id="btnAplicarCambios" type="submit" class="btn btn-success btn-block text-white">
                      Aplicar cambios
                    </button > 
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}