{%extends '../base.html' %}
{% block title %}Clientes{% endblock title %}
{% block content %}

<div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
         <div class="card">
            <form action="/registrarCliente/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="cif" name="cif" class="form-control" placeholder="cif del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="direcion" name="direccion" class="form-control" placeholder="Direccion del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="ciudad" name="cuidad" class="form-control" placeholder="Direccion del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="direcion" name="direccion" class="form-control" placeholder="Direccion del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="number" id="telefono" name="telefono" class="form-control" placeholder=" Telefono del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder=" email del cliente" required>
                </div> <br>

                <div class="input-group" >
                    <button type="submit" class="btn btn-success btn-block text-white">
                        Guardar
                    </button>
                </div>
            </form>

         </div>

     </div>
      <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" >
         <div class="table-responsive py-2">
             <h1>Listado de clientes</h1>
             <table class="table table-striped">
                 <thead>
                     <tr>
                         <th>Referencia</th>
                         <th>Nombre</th>
                         <th>Marca</th>
                         <th  colspan="2" char="center" >Opciones</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for co in componentes  %}
                     <tr>
                        {% comment %} <td > {{ co.referencia}}</td>
                        <td> {{ co.nombre }}</td>
                        <td> {{ co.marca }}</td>
                        <td><a href="ediccionComponente/{{co.referencia}}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarComponente/{{co.referencia}}" class="btn btn-danger">Borrar</a></td> {% endcomment %}
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>

         </div>


     </div>



</div>

{%endblock content%}