{%extends '../base.html' %}
{% block title %}Clientes{% endblock title %}
{% block content %}

<div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
         <div class="card">
            <form action="/registrarCliente/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="cif" name="cif" class="form-control" placeholder="cif del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="direcion" name="direccion" class="form-control" placeholder="Direccion del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="text" id="ciudad" name="ciudad" class="form-control" placeholder="Cuidad del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="tel" minlength="9" maxlength="9" id="telefono" name="telefono" class="form-control" placeholder=" Telefono del cliente" required>
                </div> <br>
                <div class="input-group">
                    <input type="email" id="correo" name="correo" class="form-control" placeholder=" email del cliente" required>
                </div> <br> 

                <div class="input-group" >
                    <button type="submit" class="btn btn-success btn-block text-white">
                        Guardar
                    </button>
                </div>
            </form>

         </div>

     </div>
      <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" >
         <div class="table-responsive py-2">
             <h2>Listado de clientes</h2>
             <table class="table table-striped">
                 <thead>
                     <tr>
                         <th>Cif</th>
                         <th>Nombre</th>
                         <th>Direccion</th>
                         <th>ciudad</th>
                         <th>Telefono</th>
                         <th>Correo</th> 
                         <th  colspan="2" char="center" >Opciones</th>
                     </tr>
                 </thead>
                 <tbody>
                     {% for cl in clientes  %}
                     <tr>
                        <td> {{ cl.cif }}</td>
                        <td> {{ cl.nombre }}</td>
                        <td> {{ cl.direccion }}</td>
                        <td> {{ cl.ciudad }}</td>
                        <td> {{ cl.telefono }}</td>
                        <td> {{ cl.correo }}</td> 
                        <td><a href="ediccionCliente/{{cl.cif}}" class="btn btn-info">Editar</a></td>
                        <td><a href="borrarCliente/{{cl.cif}}" class="btn btn-danger">Borrar</a></td>
                       
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>

</div>

{%endblock content%}