body {
    background-color: #f3f3f3;
}

h1 {
    font-weight: 500;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 40px;
    padding: 40px 25px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    /* color: #202020; */
    background-color: #c7c2c2;
    letter-spacing: .1em;
    text-shadow:
        -1px -1px 1px #111,
        2px 2px 1px #f9f6f6;
}


h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #202020;
    background-color: #688a5d;
    letter-spacing: .1em;
}

#navbarNav {
    justify-content: center;
    font-weight: bold;
}

#barra {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

#texto {
    text-align: center;
    font-weight: 600;
    background-color: #c7c2c2;
    font-size: 15px;
    padding: 40px 25px;
    border-radius: 20px;
    justify-content: center;
}

#texto2 {
    text-align: center;
    font-size: xx-large;
    padding: 40px 25px;
    border-radius: 20px;
    justify-content: center;
    fill: #35322a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

textarea {
    background-color: transparent;
    border: 1px solid #000000;
    max-width: 100%;
}


.footer {
    background: grey;
    text-align: center;
    margin-top: 4rem;
    position: relative;
    padding: 25px;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

#item:hover {
    font-size: 18px;
    background-color: #688a5d;
    border-radius: 3px;
}

/* practica 3 JS aumentar tamaño */
.t0 {
    font-size: 2px;
}

.t1 {
    font-size: 6px;
}

.t2 {
    font-size: 10px;
}

.t3 {
    font-size: 13px;
}

.t4 {
    font-size: 18px;
}

#aumentar {
    background-color: rgba(13, 69, 115, 0.916);
    border: #222;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    border-radius: 15px;
}

#disminuir {
    background-color: rgba(218, 60, 73, 0.916);
    border: #222;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    border-radius: 15px;
}

#aumentar:hover , #disminuir:hover{
    background-color: rgba(65, 60, 218, 0.916);
    padding: 16px 15px;
}
