{% extends '../base.html' %}
{% block title %}Categorías{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
            <form action="/registrarCategoria/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la categoría" required>
                </div> <br>
                <div class="input-group" >
                    <button type="submit" class="btn btn-success btn-block text-white">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <h2>Listado de categorías</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in categorias  %}
                    <tr>
                       <td> {{ c.nombre }}</td>
                       <td><a href="ediccionCategoria/{{c.id}}" class="btn btn-info">Editar</a></td>
                       <td><a href="borrarCategoria/{{c.id}}" class="btn btn-danger">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock content %}