{% extends '../base.html' %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
<h1 id="titulo" py-2> Deustronic Components.SL.</h1><br>
<span>
    <p id="texto">
        La empresa Deustronic Components.SL ha sido diseñada para la resolucion de problemas derivados del uso de tablas exel. <br><br>
        En empresa Deustronic Components.SL facilitamos las labores de busquedas, inserciones, modificados e incluso borrados en BD <br><br>
        Esta página Web fue creada para sacrle el máximo partido a la getión de productos. Haciendo un uso correcto los veneficios para tu empresa serán inmediatos.<br><br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est facilis qui similique culpa, blanditiis voluptatum minima ad animi odio doloribus dolor, labore in alias laborum aliquam eum nisi explicabo dignissimos!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ullam laborum veritatis, iste recusandae nihil labore debitis fugiat quo, repudiandae dolore fugit ea esse quibusdam praesentium! Illum magni est voluptates?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod obcaecati quidem minima doloribus dicta laboriosam laborum maxime nisi alias in cum magnam, perspiciatis porro consectetur beatae harum quae odit iusto.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore labore tenetur voluptas vel pariatur omnis atque eaque nostrum, corrupti accusamus nobis eligendi assumenda? Nesciunt, reprehenderit quas sint quos ex nostrum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quod tempore minima cupiditate deleniti, magnam sed tenetur, amet laudantium, repudiandae commodi pariatur eius quasi! Magnam, cum a. Mollitia, et deleniti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vitae quaerat, consequatur numquam odit alias blanditiis adipisci beatae est, vero inventore cum, saepe cupiditate unde a dolorem tempora doloremque repellendus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, ut nobis aut aspernatur quas quod. Illo, exercitationem. Dolor debitis sequi veniam adipisci obcaecati quidem sed. Ullam quia totam tempore blanditiis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta eius excepturi harum repellendus totam ipsa maiores recusandae assumenda perferendis ipsum, sunt eum ab aspernatur voluptate accusamus distinctio error? Illum, placeat!

    </p>
    <br>
</span><br>


    {% endblock content %}