{% extends '../base.html' %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
<center>><h1 py-2>Pagina principal de Deustronic Components.SL.</h1><br>

<span>
    <p>
        La empresa Deustronic Components.SL ha sido diseñada para la resolucion de problemas derivados del uso de tablas exel. <br>
        En empresa Deustronic Components.SL facilitamos las labores de busquedas, inserciones, modificados e incluso borrados en BD
        
    </p>
    <br>
</span><br>
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3A5jvS-xRKM4O591t_9hgFIqQy7WNrrfeg&usqp=CAU" alt="">
</center>
   

    {% endblock content %}